<li>
  <%= message.from.number %>: 
  <% if message.extra_info.has_key?("links") %>
    <% 
      contents = sanitize(message.contents)
      message.extra_info["links"].each do |link|
        contents.gsub!(link["number"], link_to(link["number"], conversations_path(players: [link["id"], current_player]), method: :post))
      end
    %>
    <%= contents.html_safe %>
  <% else %>
    <%= message.contents %>
  <% end %>
</li>