<div id="login">
  <% if @games.length == 0 %>
    There are no active games right now.
  <% else %>
    <div>
      Select your number to rejoin the game. Please don't cheat!
    </div>
    <br>
    <% @games.each do |game| %>
      <div>
        Game #<%= game.code %> (<%= game.start_time.nil? ? game.created_at.strftime("%-m/%-d/%y") : game.start_time.strftime("%-m/%-d/%y") %>)
        <ul>
          <% game.players.where.not(role: :hrn).each do |player| %>
            <li><%= link_to player.number, players_login_path(id: player), method: :post%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    If you don't see your number, the game you were a part of may have ended. If you can't remember your number, please contact your host.
  <% end %>
</div>