<% content_for :page_classes, "in-game" %>

<div id="player-banner">
  <div id="nav"></div>
  <div>
    My Number: <span class="number"><%= @player.number %></span>
  </div>
</div>

<div id="game-state">
  <% if @player.game.state == "end" %>
    <h3>DISCONNECTED</h3>
    The game is now over
  <% elsif @player.game.state == "before" %>
    <h3>Connecting<span class="one">.</span><span class="two">.</span><span class="three">.</span></h3>
    The game will begin shortly.
  <% end %>
</div>
<%= render partial: "conversation_list", locals: {player: @player, conversations: @player.conversations} %>

<script>
  gameChannel(<%= @player.id %>);
</script>