// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This is the big screen version
// As in, the minimum width these rules will apply at is 1200px
@media screen and (min-width: 1100px){
  h1{
    font-size: 6em;
    margin-bottom: 0px;
  }
}

// The maximum width these rules will apply at is 1200px
// So these are my mobile rules
@media screen and (max-width: 1100px){
  body{
    font-size: 4vw;
  }

  h1{
    font-size: 10vw;
  }

  input{
    font-size: 4vw;
  }
}

#main{
  margin: 20px auto;
  padding: 0 20px;
  max-width: 800px;
}

#title{
  padding: 20px 0;
}