// -------------------- SIZES -------------------
// Big
@media screen and (min-width: 1100px){
  #player-banner{
    font-size: 20px;

    #nav{
      width: 20px;
    }
  }

  #game-state{
    font-size: 12px;
    h3{
      font-size: 20px
    }
  }

  .conversation{
    font-size: 20px;
    padding: 5px;
  }

  .edit-line{
    padding: 2px 0;
  }
}

// Small
@media screen and (max-width: 1100px){
  #player-banner{
    font-size: 7vw;
    #nav{
      width: 7vw;
    }
  }

  #game-state{
    font-size: 4vw;
    h3{
      font-size: 6vw;
    }
  }

  .conversation{
    font-size: 6vw;
    padding: 20px;
  }

  input[type=radio]{
    height: 4vw;
    width: 4vw;
  }

  .edit-line{
    padding: 1vw 0;
  }
}

// -------------------- NOT SIZES ---------------
.conversation{
  color: black;
  background: #F0F8FF;
  display: block;
  border: solid black;
  border-width: 1px 0px 1px 0px;
  a {
    color: black;
  }
}

.unseen{
  background-color: #00BFFF;
  font-weight: bold;
}

.notification{
  background-color: lightblue;
}

body{
  margin: 0;
  overflow-x: hidden;
}

#player-banner{
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: calc(100% - 10px);

  a{
    display: inline-block;
  }

  img{
    border: solid white 1px;
    border-radius: 3px;  
  }

  #right{
    // margin-right: 20px;
  }

  div{
    display: inline-block;
  }

  .number{
    text-decoration: underline;
  }
}

#game-state{
  padding: 20px 0;
  text-align: center;
}

h4{
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  font-size: 25px;
}

.unseen{
  background-color: #00BFFF;
}


// Animation for the Connecting... game state
.one {
  opacity: 0;
  -webkit-animation: one 1.3s infinite;
  // -webkit-animation-delay: 0.0s;
  animation: one 1.3s infinite;
  // animation-delay: 0.0s;
}

.two {
  opacity: 0;
  -webkit-animation: two 1.3s infinite;
  // -webkit-animation-delay: 0.2s;
  animation: two 1.3s infinite;
  // animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: three 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: three 1.3s infinite;
  // animation-delay: 0.3s;
}

@-webkit-keyframes one {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes two {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes three {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}